---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

export const prerender = true

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
  {
    post.data.updatedDate && (
      <FormattedDate
        className="text-sm text-zinc-200"
        date={post.data.updatedDate}
      />
    )
  }
  {
    post.data.tags && (
      <ul class="flex flex-wrap gap-8 list-none pl-0">
        {post.data.tags.map((tag) => (
          <li>
            <a
              class="text-white hover:opacity-80 rounded-md py-2 px-4 bg-zinc-900"
              href={`/tags/${tag}`}
            >
              #{tag}
            </a>
          </li>
        ))}
      </ul>
    )
  }
  <h1>{post.data.title}</h1>
  <Content />
</BaseLayout>
